html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #bebebe;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  background-color: rgb(236, 83, 83);
  padding: 10px 0;
}
header .logo {
  height: 80px;
  border-radius: 70%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav .links a {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  color: #d4d4d4;
  text-decoration: none;
  padding: 15px 10px;
  justify-content: space-evenly;
}
.nav .links a:hover {
  color: #e4ba31;
}

main {
  margin-bottom: 20px;
}
main h1 {
  font-size: 2rem;
  color: #000000;
  margin-top: 20px 0;
}
main p {
  color: #000000;
}
.profile-pic {
  border-radius: 50%;
  max-width: 350px;
  max-height: 350px;
}

.about-me{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  flex-direction: row-reverse;
  
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.portfolio-grid .card {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-grid img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  

}
.portfolio-grid a{
  text-decoration: none;
  color: #51291a;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.portfolio-grid a:hover{
  text-decoration: underline;
  color: #e54b50;
}
.wrapper section h2{
  color: #000000;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.my-skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  flex-direction: row;
  align-items: stretch;
  color: #51291a;
  margin-bottom: 10px;
}
.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto; 
  width: 35%; 
  height: auto; 
}

.resume img {
  max-width: 100%; 
  height: auto;
  border: 2px solid #ccc; 
  border-radius: 3px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-projects{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}
main form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000000;
  border: black 1px solid;

}
main form .form-contact {
  color: black;
  margin-bottom: 20px;
  width: 70%;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
}

form#contactForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  align-items: center;
  border: 2px solid #51291a;
}

.form-contact {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact form button:hover {
  background-color: #d57272;
  color: rgb(213, 170, 170);
  border: 1px solid white;
  cursor: pointer;
}
.contact-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: rgb(15, 14, 14);
}
footer {
  background-color: rgb(236, 83, 83);
  color: #fff;
  padding: 20px 0;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.footer .social-media-links a {
  color: #000000;
  margin: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 100%;
    padding: 0 2rem;
  }

  h1 {
    font-size: 50px;
    color: #51291a;
  }

}
@media screen and (max-width: 968px) {
    .about{
        flex-direction: column;
        align-items: center;        
      }
      .resume a img{
        max-width: 500px;
      }
    
}
@media (max-width: 768px) {
  

  .button {
      max-width: none;
      font-size: 1rem;
      padding: 8px 15px;
      align-self: center;        
  }
}
@media (max-width: 510px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .nav .links {
    display: none;
    flex-direction: column;
    gap: 8px;
    font-size: 1rem;
  }

  header .logo {
    height: 45px;
    margin: 0;
  }
  header .logo-up {
    height: 25px;
    margin: 0;
  }

  .nav .links a {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }

  .hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .resume a img{
    max-width: 250px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    order: 1;
  }

  .hamburger {
    order: 2;
  }

  .nav.active .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav.active .hamburger {
    display: none;
  }

  .nav.active {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav.active .logo {
    order: 1;
  }

  .nav.active .links {
    order: 2;
  }

  .nav.active .close-arrow {
    display: block;
    margin-top: 20px;
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    order: 3;
  }

  .close-arrow {
    display: none;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  footer {
    text-align: center;
    
  }
  footer h3{
    margin-bottom: 40px;
  }
}

@media (min-width: 511px) {
  .close-arrow {
    display: none !important;
  }
}

#contactForm button{
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #51291a;
  color: #fff;
  border: none;
  cursor: pointer;
}